<section id="refund-confirm">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" id="body-refund">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                    <h3>Are you sure you want to refund this transaction?</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                    <a href="{{ pathApply }}" class="btn btn-default red-btn" role="popup" id="btn-confirm-refund">YES</a>
                    <button type="button" class="btn btn-default red-btn" data-dismiss="modal">NO</button>
                </div>
            </div>
        </div>
    </div>
</section>